<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="template.xhtml">

    <ui:define name="naviigation-content">

        <span>Total Navigation!</span>
    </ui:define>

    <ui:define name="main-content">

        <h:form id="formLogin">

            <h3>Login</h3>
            <div>
                <h:outputText for="emailAdressInput" value="Emailadresse" class="Majas_ErsteCss_Klasse"></h:outputText>
                <h:inputText id="emailAdressInput" value="#{loginBean.emailAdress}"></h:inputText>
            </div>
            <div>
                <h:outputText for="passwordInput" value="Passwort" class="Passwort_Css"></h:outputText>
                <h:inputSecret id="passwordInput" value="#{loginBean.password}"></h:inputSecret>
            </div>
            <h:commandButton id="btnLogin" value="Login"
                             action="#{loginBean.validateUsernamePassword}"></h:commandButton>

        </h:form>

    </ui:define>

</ui:composition>
