<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="template.xhtml">


    <ui:define name="main-content">
        <span>You are logged in! ;-)</span>
        <h:form>
            <h:commandLink id="linkLogout" action="#{loginBean.logout}">Logout</h:commandLink>
        </h:form>
    </ui:define>
</ui:composition>