<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


<h:head>
    <title>UserLogin</title>
    <h:outputStylesheet name="css/screen.css"></h:outputStylesheet>
</h:head>

<h:body>

    <div id="container">

        <div id="header">
            <span>Total Surprise WebApp </span>
        </div>

        <div id="nav-bar">
            <ui:insert name="naviigation-content">

            </ui:insert>

        </div>
        <div id="main">
            <ui:insert name="main-content">

            </ui:insert>
        </div>


        <div id="footer">
    <span>
            <a href="git clone https://MBelmega@bitbucket.org/MBelmega/totaluserlogin.git">
                Visit us on Bitbucket!
            </a>
    </span>
        </div>
    </div>

</h:body>

</html>